@import '../../global.scss';

.aboutMe {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include mobile {
		justify-content: space-between;
	}

	.container1 {
		display: flex;
		overflow-y: hidden;

		@include mobile {
			flex-direction: column;
		}

		.left {
			flex: 0.4;
			display: flex;
			flex-direction: column;
			align-self: center;
			justify-content: center;
			margin: 10px;

			@include mobile {
				flex: 0.35;
				margin: 5px;
			}

			.imgContainer {
				display: flex;
				justify-content: center;

				img {
					width: 100%;
					max-width: 400px;
					// border-radius: 50%;
					// border: 5px solid rgb(72, 108, 217);
					-webkit-box-shadow: 0px 0px 17px 5px rgba(12, 7, 8, 0.57);
					box-shadow: 0px 0px 17px 5px rgba(44, 2, 10, 0.57);
					margin: 10px;
					@include mobile {
						max-width: 150px;
						width: 100%;
					}
				}
			}
		}

		.right {
			flex: 0.6;
			align-self: center;
			height: 80vh;
			width: 100%;
			margin: 10px;
			overflow-y: hidden;

			display: flex;
			align-items: center;
			justify-content: center;

			@include mobile {
				flex: 0.65;
			}

			.articleContainer {
				overflow-y: hidden;
				width: 100%;
				width: 85%; //////
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;

				@include mobile {
					justify-content: space-evenly;
				}

				.titleBox {
					margin: 10px;

					@include mobile {
						flex: 0.1;
						margin: 10px;
					}

					h1 {
						font-size: 50px; // margin: 10px;

						@include mobile {
							font-size: 20px;
						}
					}
				}

				.articleBox {
					margin: 10px;
					background-color: aliceblue;
					border-radius: 5%;
					@include mobile {
						margin: 10px;
						flex: 0.9;
					}

					ul {
						padding: 10px;
						font-weight: 400;
						font-size: 18px;
						list-style: square inside;
						@include mobile {
							font-size: 16px; // margin-top: 12%;
						}
						li {
						}
					}
				}

				.cvDownload {
					img {
						width: 60px;
						overflow-y: none;
						@include mobile {
							width: 50px;
						}
					}
				}

				.DownloadInstruct {
					font-size: 14px;
					margin: 10px;
				}
			}
		}
	}
}
